{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur l'application de Gestion de Parc Informatique</h1>
        <p class="lead">Cette application vous permet de gérer facilement l'inventaire et l'affectation de vos matériels informatiques.</p>
        <hr class="my-4">
        <p>Fonctionnalités principales :</p>
        <ul>
            <li>Visualiser les matériels disponibles</li>
            <li>Visualier l'état des matériels</li>
            <li>Visualier l'historique des prêts des matériels</li>
            <li>Imprimer un prêt de matériels pour signature</li>
        </ul>
        <p>Cette application facilite l'inventaire en vous permettant de voir l'historique complet de chaque objet.</p>
    </div>
{% endblock %}
