body {
    background-color: #e62154;
    color: #ffffff;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6, label {
    color: #000000;
}

.form-control {
    background-color: #f8f9fa;
}

.btn-primary {
    background-color: #e62154;
    border-color: #e62154;
}

.btn-primary:hover {
    background-color: #d41947;
    border-color: #d41947;
}

a {
    color: #e62154;
}

a:hover {
    color: #d41947;
}
